{% extends "bootstrap/base.html" %}
{% block content %}
    <div class="container">
        <table id="data" class="table table-striped">
            <tr>
                <td>Banner id</td>
                <td>Image path</td>
                <td>Image name</td>
                <td>Url</td>
                <td>Status</td>
                <td>Position</td>
            </tr>
            {% for row in data %}
            <tr>
                <td>{{row.banner_id}}</td>
                <td>{{row.image_path}}</td>
                <td>{{row.image_name}}</td>
                <td>{{row.url}}</td>
                <td>{{row.status}}</td>
                <td>{{row.position}}</td>
            </tr>
            {% endfor %}
        </table>
        <button>click</button>
    </div>
{% endblock %}